Package: com.ryannair05.hades
Name: Hades
Depends: mobilesubstrate
Version: 1.2-Isaac7u7
Architecture: iphoneos-arm
Description: iPhone X gestures and buttons.
Maintainer: Ryan Nair
Author: Ryan Nair 
Section: Tweaks
